<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onToggleSideNav()" mat-icon-button aria-label="Toggle navigation menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span><a routerLink="/">FitTracker</a></span>
  
  <!-- Flexible spacer pushes all following items to the right -->
  <span fxFlex></span>

  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" fxHide.xs>
    @if(userdetails){
      <a mat-button routerLink="/dashboard">Dashboard</a>
      <a mat-button routerLink="/training">Training</a>
      <a mat-button routerLink="/workout-plans">Plans</a>
      <a mat-button routerLink="/profile">Profile</a>
      <span class="avatar-chip" routerLink="/profile" aria-label="User profile">{{userInitials}}</span>
      <a mat-button (click)="onLogout()">Logout</a>
    } @else {
      <a mat-button routerLink="/signup">Sign Up</a>
      <a mat-button routerLink="/login">Login</a>
    }
    <button mat-icon-button (click)="toggleDarkMode()" [attr.aria-label]="isDarkMode ? 'Switch to light mode' : 'Switch to dark mode'">
      <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
    </button>
  </div>

</mat-toolbar>
