<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button (click)="onToggleSideNav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <span><a routerLink="/">FitTracker</a></span>
  <div fxFlex fxLayout='row' fxLayoutAlign="flex-end" fxLayoutGap="12px" fxHide.xs>
    <ul fxLayout fxLayoutGap="12px" class="navigation-items">
      @if(userdetails){
        <li><a routerLink="/training">{{userdetails.email}}</a></li>
        <li><a routerLink="/training">Training</a></li>
        <li><a (click)="onLogout()">Logout</a></li>
      } @else {
        <li><a routerLink="/signup">SignUp</a></li>
        <li><a routerLink="/login">Login</a></li>
      }
    </ul>
  </div>

</mat-toolbar>
